<form action="" method="POST">
  <label for="username-input">Enter a username</label>
  <input type="text" name="username" id="username-input">
  <label for="password-input">Enter a password</label>
  <input type="text" name="password" id="password-input">
  <button>Login to an account</button>
</form>